@media only screen and (max-width: 767px) {
    .main-container {
        width: 100%;
      
        background: dark;
        overflow:scroll hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        gap: 30px;
    }

    .Link {
        width: 70%;
        height: 15rem;
        background: rgba(0, 40, 70, 0.62);
        margin-top: 20px;

        border-radius: 7px;
        padding: 5px;
        box-shadow:
            2px 2px 10px red,
            0px 0px 5px blue;
    }

    .flex-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .ImgClass {
        width: 100%;
    }

    .Emailbtn {
        background: rgb(2, 25, 220);
        width: 100%;
        box-shadow:
            2px 2px 10px green,
            0px 0px 5px yellow;
        color: #fff;
        font-family: fantasy;
    }
}

@media only screen and (min-width: 767px){
  
      .main-container {
        width: 100%;
      
        background: black;
        overflow:scroll hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        gap: 30px;
    }

    .Link {
        width: 50%;
        height: 25rem;
        background: rgba(0, 40, 70, 0.62);
        margin-top: 20px;

        border-radius: 7px;
        padding: 5px;
        box-shadow:
            2px 2px 10px red,
            0px 0px 5px blue;
    }

    .flex-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .ImgClass {
        width: 100%;
    }

    .Emailbtn {
        background: rgb(2, 25, 220);
        width: 100%;
        box-shadow:
            2px 2px 10px green,
            0px 0px 5px yellow;
        color: #fff;
        font-family: fantasy;
    }
  
  
}